extends layout

block content
  h1= title
  p Welcome to #[em Music Store]!

  h2 Catalog

  p The library has the following record counts:

  ul
    li #[strong Artists:] !{artist_count}
    li #[strong Albums:] !{album_count}
    li #[strong Songs:] !{song_count}
    li #[strong Genres:] !{genre_count}
    li #[strong Album CD's:] !{cd_count}
