extends layout

block content
  h1 #{title}

  form(method='POST')
    div.form-group
      label(for='name') Song Name:
      input#name.form-control(type='text', placeholder='Let it be' name='name' required value=(undefined === song ? '': song.name))

    div.form-group
      label(for='duration') Song Length [mm:ss]:
      input#duration.form-control(type='text' name='duration' required value=(undefined === song ? '': song.duration) pattern='^(?:[0-9]|[1-9][0-9]):(?:[0-5][0-9]|60)$')

    div.form-group
          label(for='album') Album:
            select#album.form-control(name='album' required)
              option(value='') --Please select an album--
              for album in albums
                if album
                  if song
                    if album._id.toString() === song.album._id.toString()
                      option(value=album._id selected) #{album.name} by #{album.artist.name}
                    else
                      option(value=album._id) #{album.name} by #{album.artist.name}
                else
                  option(value=album._id) #{album.name} by #{album.artist.name}

    button.btn.btn-primary(type='submit') Submit

  if errors
    ul
      for err in errors
        li != err.msg